@charset "UTF-8";
/* VARIABLES y COMPONENTES */
@import url("https://fonts.googleapis.com/css2?family=Borel&family=Montserrat:wght@100;300;500;800&display=swap");
.main_niveles .tabs_niveles .nav-tabs .nav-link.fondo_celeste:hover, .muyFacil, .fondo_celeste {
  background-color: #5ee7df;
}

.main_cursos .cursos .galeria__contenedor .ficha a:hover, .main_cursos .tabs_cursos .nav-tabs .nav-link.fondo_verde:hover, .main_niveles .tabs_niveles .nav-tabs .nav-link.fondo_verde:hover, .container-fluid .aside .categorias .categorias__nav .categorias__card .card-link:hover, .container-fluid .aside .categorias .categorias__flecha:hover, .facil, .taller, .fondo_verde {
  background-color: #8de0a6;
}

.main_cursos .tabs_cursos .nav-tabs .nav-link.fondo_amarillo:hover, .main_niveles .tabs_niveles .nav-tabs .nav-link.fondo_amarillo:hover, .neutro, .fondo_amarillo {
  background-color: #fcf09f;
}

.main_niveles .tabs_niveles .nav-tabs .nav-link.fondo_lila:hover, .dificil, .fondo_lila {
  background-color: #b490ca;
}

.main_cursos .tabs_cursos .nav-tabs .nav-link.fondo_fucsia:hover, .main_niveles .tabs_niveles .nav-tabs .nav-link.fondo_fucsia:hover, .main_categorias .contenedor_carousel #carouselExampleDark .carousel-indicators .active, .muyDificil, .curso, .fondo_fucsia {
  background-color: #de528c;
}

/*** FONDOS ***/
/*** NIVELES ***/
.muyFacil {
  color: #000000;
}

.facil, .taller {
  color: #000000;
}

.neutro {
  color: #000000;
}

.dificil {
  color: #ffffff;
}

.muyDificil, .curso {
  color: #ffffff;
}

a {
  text-decoration: none;
}
a:link {
  color: #000000;
}
a:visited {
  color: #000000;
}
a:hover {
  color: #8de0a6;
  padding-bottom: 5px;
  border-bottom: solid 5px #8de0a6;
  transition: border-bottom 0.3s;
}
a:active {
  color: #000000;
  padding-bottom: 5px;
  border-bottom: solid 5px #000000;
}

button, .boton {
  border: none;
  background-color: #de528c;
  color: #ffffff;
  padding: 0.5rem 5rem;
  font-size: 1.2rem;
  font-weight: 800;
  text-transform: uppercase;
  margin-top: 2rem;
  /* animación */
  transition: transform 0.5s, background-color 0.5s, color 0.5s;
}
button:hover, .boton:hover {
  background-color: #8de0a6;
  color: #000000;
  /* animación */
  transform: scale(1.1);
}

.boton {
  margin-top: 0;
}

.galeria__contenedor .figura {
  width: 25%;
  position: relative;
  height: 19rem;
  border: solid 1px #000000;
  background-color: #ffffff;
}
@media screen and (max-width: 1400px) {
  .galeria__contenedor .figura {
    width: 33.3%;
  }
}
@media screen and (max-width: 768px) {
  .galeria__contenedor .figura {
    width: 50%;
  }
}
@media screen and (max-width: 576px) {
  .galeria__contenedor .figura {
    width: 100%;
  }
}
.galeria__contenedor .figura:hover {
  padding-bottom: 0;
  border-bottom: none;
  border: solid 3px #8de0a6;
  background-color: #ffffff;
  /* animación */
  animation: shadow-drop-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  transition: border 0.4s;
}
@keyframes shadow-drop-center {
  0% {
    box-shadow: 0 0 0 0 #8de0a6;
  }
  100% {
    box-shadow: 0 0 20px 0px #8de0a6;
    z-index: 1;
  }
}
.galeria__contenedor .figura .enlace {
  border: none;
}
.galeria__contenedor .figura .enlace .nivel {
  display: inline;
  position: absolute;
  top: 2%;
  left: 2%;
  transform: translate(-2%, -2%);
  font-size: 12px;
  font-weight: 800;
  text-align: left;
}
.galeria__contenedor .figura .enlace .nombre {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #000000;
  color: #ffffff;
  font-size: 24px;
  font-weight: 800;
  vertical-align: center;
}
.galeria__contenedor .figura .enlace img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.main_contacto, .main_cursos, .main_tutoriales, .main_niveles, .main_categorias {
  height: 70vh;
  margin: auto;
  padding: 0 10rem;
}

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
}

h4, h3, h1 {
  font-family: "Borel", cursive;
  font-weight: 300;
}

@media screen and (max-width: 1400px) {
  h1 {
    font-size: 2rem;
  }
}

h2 {
  font-size: 3rem;
  font-weight: 300;
  color: #de528c;
  text-transform: uppercase;
}

h4 {
  color: #de528c;
}

h5 {
  font-size: 0.9rem;
  font-weight: 800;
  text-transform: uppercase;
}

.center_xy {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* SECCIONES */
.header {
  height: 20vh;
  background-color: transparent !important;
}
@media screen and (max-width: 1400px) {
  .header {
    height: 13vh;
  }
}
.header .navbar {
  width: 100vw;
  margin: 0 4rem;
}
@media screen and (max-width: 1400px) {
  .header .navbar {
    margin: 1rem;
  }
}
.header .navbar .navbar-brand {
  display: flex;
  align-items: center;
  color: #000000;
}
.header .navbar .navbar-brand:hover {
  text-decoration: none;
  border: none;
  color: #000000;
}
@media screen and (max-width: 1200px) {
  .header .navbar .navbar-brand {
    display: block;
    align-items: left;
  }
}
.header .navbar .navbar-brand img {
  max-width: 9rem;
  margin-right: 1rem;
}
.header .navbar .navbar-brand img:hover {
  /* animación */
  animation: rotate-scale-down-diag-1 1s linear both;
}
@keyframes rotate-scale-down-diag-1 {
  0% {
    transform: scale(1) rotate3d(1, 1, 0, 0deg);
  }
  50% {
    transform: scale(0.5) rotate3d(1, 1, 0, -180deg);
  }
  100% {
    transform: scale(1) rotate3d(1, 1, 0, -360deg);
  }
}
@media screen and (max-width: 1400px) {
  .header .navbar .navbar-brand img {
    max-width: 7rem;
  }
}
.header .navbar .navbar-collapse {
  justify-content: flex-end;
}
.header .navbar .navbar-collapse .navbar-nav {
  align-items: center;
}
.header .navbar .navbar-collapse .navbar-nav .nav-separador {
  padding: 0 2rem;
}
@media screen and (max-width: 1200px) {
  .header .navbar .navbar-collapse .navbar-nav .nav-separador {
    display: none;
  }
}

.container-fluid {
  display: flex;
  height: 70vh;
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 1400px) {
  .container-fluid {
    display: block;
    height: 100%;
  }
}
.container-fluid .aside {
  flex: 0.1;
}
@media screen and (max-width: 1400px) {
  .container-fluid .aside {
    display: flex;
    flex-direction: column;
    border-top: solid 1px;
    padding: 0 30px;
    height: 10vh;
  }
}
@media screen and (max-width: 1400px) {
  .container-fluid .aside h5 {
    text-align: left;
    padding: 1.5rem 0 0 0;
  }
}
@media screen and (max-width: 1400px) {
  .container-fluid .aside .categorias {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    height: 50px;
  }
}
.container-fluid .aside .categorias .categorias__flecha {
  display: block;
  width: 100%;
  border-top: solid 1px;
  border-bottom: solid 1px;
}
.container-fluid .aside .categorias .categorias__flecha:hover {
  /* animación */
  transition: background-color 0.3s;
}
@media screen and (max-width: 1400px) {
  .container-fluid .aside .categorias .categorias__flecha {
    border-top: none;
    border-bottom: none;
    width: 3%;
  }
}
.container-fluid .aside .categorias .categorias__flecha .categorias__flecha__img {
  width: 25px;
}
@media screen and (max-width: 1400px) {
  .container-fluid .aside .categorias .izquierda, .container-fluid .aside .categorias .derecha {
    transform: rotate(-90deg);
    width: 2rem;
    border: solid 1px;
  }
  .container-fluid .aside .categorias .izquierda:hover, .container-fluid .aside .categorias .derecha:hover {
    background-color: #8de0a6;
  }
}
@media screen and (max-width: 1400px) {
  .container-fluid .aside .categorias .categorias__nav {
    width: 94%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
  }
}
.container-fluid .aside .categorias .categorias__nav .categorias__card {
  border: none;
  background: none;
}
.container-fluid .aside .categorias .categorias__nav .categorias__card .card-link {
  text-decoration: none;
  color: #000000;
}
.container-fluid .aside .categorias .categorias__nav .categorias__card .card-link:hover {
  border: none;
  /* animación */
  transition: background-color 0.3s;
}
@media screen and (max-width: 1400px) {
  .container-fluid .aside .categorias .categorias__nav .categorias__card .card-link:hover {
    background: none;
  }
}
.container-fluid .aside .categorias .categorias__nav .categorias__card .card-link .categorias__img {
  width: 3rem;
  margin: auto;
}
@media screen and (max-width: 1400px) {
  .container-fluid .aside .categorias .categorias__nav .categorias__card .card-link .categorias__img:hover {
    background-color: #8de0a6;
    border-radius: 100%;
  }
}
@media screen and (max-width: 992px) {
  .container-fluid .aside .categorias .categorias__nav .categorias__card .card-link .categorias__img {
    width: 2rem;
  }
}
.container-fluid .aside .categorias .categorias__nav .categorias__card .card-link .categorias__nombre {
  text-transform: uppercase;
}
@media screen and (max-width: 1400px) {
  .container-fluid .aside .categorias .categorias__nav .categorias__card .card-link .categorias__nombre {
    display: none;
  }
}

.main, .galeria {
  height: 70vh;
  flex: 0.9;
  padding: 10px 40px;
}
@media screen and (max-width: 1400px) {
  .main, .galeria {
    height: 100%;
  }
}
.main .galeria__filtro h5, .galeria .galeria__filtro h5 {
  display: inline-block;
}
.main .galeria__filtro .galeria__filtro__nivel, .galeria .galeria__filtro .galeria__filtro__nivel {
  display: inline-block;
}
.main .galeria__filtro .galeria__filtro__nivel ul, .galeria .galeria__filtro .galeria__filtro__nivel ul {
  padding: 0;
}
@media screen and (max-width: 768px) {
  .main .galeria__filtro .galeria__filtro__nivel ul, .galeria .galeria__filtro .galeria__filtro__nivel ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
.main .galeria__filtro .galeria__filtro__nivel ul li, .galeria .galeria__filtro .galeria__filtro__nivel ul li {
  display: inline-block;
  border: solid 1px #ffffff;
  padding: 5px 10px;
  margin: 0 10px;
}
.main .galeria__filtro .galeria__filtro__nivel ul li:hover, .galeria .galeria__filtro .galeria__filtro__nivel ul li:hover {
  border: solid 1px #000000;
}
@media screen and (max-width: 1400px) {
  .main .galeria__filtro .galeria__filtro__nivel ul li, .galeria .galeria__filtro .galeria__filtro__nivel ul li {
    margin: 0 10px 0 0;
  }
}
@media screen and (max-width: 768px) {
  .main .galeria__filtro .galeria__filtro__nivel ul li, .galeria .galeria__filtro .galeria__filtro__nivel ul li {
    margin: 0;
    padding: 3px 5px;
  }
}
.main .galeria__filtro .galeria__filtro__nivel ul li a:hover, .galeria .galeria__filtro .galeria__filtro__nivel ul li a:hover {
  border: none;
}
@media screen and (max-width: 768px) {
  .main .galeria__filtro .galeria__filtro__nivel ul li a, .galeria .galeria__filtro .galeria__filtro__nivel ul li a {
    font-size: 0.9rem;
  }
}
.main .galeria__contenedor, .galeria .galeria__contenedor {
  display: flex;
  width: 100%;
  margin: auto;
  flex-wrap: wrap;
}
.main .galeria__boton, .galeria .galeria__boton {
  text-align: center;
  margin-bottom: 2rem;
}

@media screen and (max-width: 1400px) {
  .main_categorias {
    height: 77vh;
  }
}
@media screen and (max-width: 1200px) {
  .main_categorias {
    padding: 3rem;
    border-top: solid 1px #000000;
  }
}
@media screen and (max-width: 768px) {
  .main_categorias {
    padding: 3rem 0;
  }
}
@media screen and (max-width: 768px) {
  .main_categorias h2, .main_categorias h3 {
    padding: 0 3rem;
  }
}
.main_categorias .contenedor_carousel {
  display: flex;
  justify-content: center;
}
.main_categorias .contenedor_carousel #carouselExampleDark {
  width: 100%;
  background-color: #ffffff;
}
.main_categorias .contenedor_carousel #carouselExampleDark .carousel-inner .carousel-item img {
  margin: auto;
}
@media screen and (max-width: 768px) {
  .main_categorias .contenedor_carousel #carouselExampleDark .carousel-inner .carousel-item img {
    width: 75%;
  }
}
.main_categorias .contenedor_carousel #carouselExampleDark .carousel-control-prev, .main_categorias .contenedor_carousel #carouselExampleDark .carousel-control-next {
  background: transparent;
}
.main_categorias .contenedor_carousel #carouselExampleDark .carousel-control-prev .carousel-control-prev-icon, .main_categorias .contenedor_carousel #carouselExampleDark .carousel-control-next .carousel-control-prev-icon, .main_categorias .contenedor_carousel #carouselExampleDark .carousel-control-next .carousel-control-next-icon {
  transition: transform 0.5s;
}
.main_categorias .contenedor_carousel #carouselExampleDark .carousel-control-prev .carousel-control-prev-icon:hover, .main_categorias .contenedor_carousel #carouselExampleDark .carousel-control-next .carousel-control-prev-icon:hover, .main_categorias .contenedor_carousel #carouselExampleDark .carousel-control-next .carousel-control-next-icon:hover {
  transform: scale(2);
}
@media screen and (max-width: 1400px) {
  .main_niveles {
    height: 77vh;
  }
}
@media screen and (max-width: 1200px) {
  .main_niveles {
    padding: 3rem;
    border-top: solid 1px #000000;
  }
}
@media screen and (max-width: 576px) {
  .main_niveles .tabs_niveles .nav-tabs {
    display: flex;
  }
}
.main_niveles .tabs_niveles .nav-tabs .nav-link {
  color: #000000;
}
.main_niveles .tabs_niveles .nav-tabs .nav-link:hover {
  border: solid 1px #000000;
}
@media screen and (max-width: 768px) {
  .main_niveles .tabs_niveles .nav-tabs .nav-link {
    padding: 0.6rem;
  }
}
@media screen and (max-width: 576px) {
  .main_niveles .tabs_niveles .nav-tabs .nav-link {
    font-size: 0.85rem;
    padding: 0.4rem;
    justify-content: space-between;
  }
}
.main_niveles .niveles .galeria__contenedor {
  display: flex;
  width: 100%;
  margin: auto;
  flex-wrap: wrap;
}

.main_tutoriales {
  height: 100%;
}
@media screen and (max-width: 1200px) {
  .main_tutoriales {
    padding: 3rem;
    border-top: solid 1px #000000;
  }
}
.main_tutoriales .bloque_tutoriales {
  margin-bottom: 50px;
}
.main_tutoriales .bloque_tutoriales h3 {
  border-bottom: solid 1px #000000;
}
.main_tutoriales .bloque_tutoriales .contenedor_tutoriales {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
}
@media screen and (max-width: 1400px) {
  .main_tutoriales .bloque_tutoriales .contenedor_tutoriales {
    grid-template-columns: auto auto;
    grid-gap: 5px;
  }
}
@media screen and (max-width: 992px) {
  .main_tutoriales .bloque_tutoriales .contenedor_tutoriales {
    grid-template-columns: auto;
  }
}
.main_tutoriales .bloque_tutoriales .contenedor_tutoriales .ficha {
  display: inline-block;
  position: relative;
  vertical-align: top;
  padding-right: 20px;
}
.main_tutoriales .bloque_tutoriales .contenedor_tutoriales .ficha .nivel {
  display: inline;
  position: absolute;
  top: 2%;
  left: 2%;
  transform: translate(-2%, -2%);
}
.main_tutoriales .bloque_tutoriales .contenedor_tutoriales .ficha iframe {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 992px) {
  .main_tutoriales .bloque_tutoriales .contenedor_tutoriales .ficha iframe {
    height: 480px;
  }
}
.main_tutoriales .bloque_tutoriales .contenedor_tutoriales .ficha .titulo {
  font-weight: 800;
}

.main_cursos {
  height: 100%;
}
@media screen and (max-width: 1200px) {
  .main_cursos {
    padding: 3rem;
    border-top: solid 1px #000000;
  }
}
.main_cursos .tabs_cursos .nav-tabs .nav-link {
  color: #000000;
}
.main_cursos .tabs_cursos .nav-tabs .nav-link:hover {
  border: solid 1px #000000;
}
.main_cursos .cursos .galeria__contenedor .ficha {
  width: 24%;
  display: inline-block;
  position: relative;
  vertical-align: top;
  padding: 0 20px 20px 0;
  overflow: hidden;
}
@media screen and (max-width: 1400px) {
  .main_cursos .cursos .galeria__contenedor .ficha {
    width: 33%;
    padding: 0 10px 20px 0;
  }
}
@media screen and (max-width: 1200px) {
  .main_cursos .cursos .galeria__contenedor .ficha {
    width: 49%;
  }
}
@media screen and (max-width: 768px) {
  .main_cursos .cursos .galeria__contenedor .ficha {
    width: 100%;
  }
}
.main_cursos .cursos .galeria__contenedor .ficha .curso, .main_cursos .cursos .galeria__contenedor .ficha .taller {
  display: inline;
  position: absolute;
  top: 2%;
  left: 2%;
  transform: translate(-2%, -2%);
  font-size: 12px;
  font-weight: 800;
  z-index: 1;
}
.main_cursos .cursos .galeria__contenedor .ficha img {
  width: 60%;
  height: auto;
}
.main_cursos .cursos .galeria__contenedor .ficha .img_curso:hover {
  /* animación */
  animation: shadow-pop-pink 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}
@keyframes shadow-pop-pink {
  0% {
    box-shadow: 0 0 #de528c, 0 0 #de528c, 0 0 #de528c, 0 0 #de528c, 0 0 #de528c, 0 0 #de528c, 0 0 #de528c, 0 0 #de528c;
    transform: translateX(0) translateY(0);
  }
  100% {
    box-shadow: -1px -1px #de528c, -2px -2px #de528c, -3px -3px #de528c, -4px -4px #de528c, -5px -5px #de528c, -6px -6px #de528c, -7px -7px #de528c, -8px -8px #de528c;
    transform: translateX(8px) translateY(8px);
  }
}
.main_cursos .cursos .galeria__contenedor .ficha .img_taller:hover {
  /* animación */
  animation: shadow-pop-green 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}
@keyframes shadow-pop-green {
  0% {
    box-shadow: 0 0 #8de0a6, 0 0 #8de0a6, 0 0 #8de0a6, 0 0 #8de0a6, 0 0 #8de0a6, 0 0 #8de0a6, 0 0 #8de0a6, 0 0 #8de0a6;
    transform: translateX(0) translateY(0);
  }
  100% {
    box-shadow: -1px -1px #8de0a6, -2px -2px #8de0a6, -3px -3px #8de0a6, -4px -4px #8de0a6, -5px -5px #8de0a6, -6px -6px #8de0a6, -7px -7px #8de0a6, -8px -8px #8de0a6;
    transform: translateX(8px) translateY(8px);
  }
}
.main_cursos .cursos .galeria__contenedor .ficha h5 {
  margin: 10px 0;
}
.main_cursos .cursos .galeria__contenedor .ficha a {
  text-decoration: underline;
  margin: 0;
}
.main_cursos .cursos .galeria__contenedor .ficha a:hover {
  color: #000000;
  padding: 0;
}
.main_cursos .cursos .galeria__contenedor .ficha p {
  margin: 0;
}
.main_cursos .cursos .galeria__contenedor .ficha .temas {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

@media screen and (max-width: 1400px) {
  .main_contacto {
    height: 77vh;
  }
}
@media screen and (max-width: 1200px) {
  .main_contacto {
    padding: 3rem;
    border-top: solid 1px #000000;
  }
}
@media screen and (max-width: 992px) {
  .main_contacto {
    height: 100%;
  }
}
.main_contacto .contenedor {
  display: flex;
  margin-top: 3rem;
}
@media screen and (max-width: 992px) {
  .main_contacto .contenedor {
    display: block;
  }
}
.main_contacto .contenedor article {
  flex: 1;
}
.main_contacto .contenedor .formulario {
  padding-right: 5rem;
}
@media screen and (max-width: 992px) {
  .main_contacto .contenedor .formulario {
    padding-right: 0;
  }
}
.main_contacto .contenedor .formulario h3 {
  margin-bottom: 2rem;
}
.main_contacto .contenedor .formulario .form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.main_contacto .contenedor .formulario .form div label {
  font-family: "Borel", cursive;
  font-size: 1.3rem;
}
.main_contacto .contenedor .formulario .form div input {
  height: 3rem;
}
.main_contacto .contenedor .mapa {
  width: 50%;
}
@media screen and (max-width: 992px) {
  .main_contacto .contenedor .mapa {
    width: 100%;
    margin-top: 5rem;
  }
}
.main_contacto .contenedor .mapa iframe {
  width: 100%;
}

.footer {
  height: 10vh;
  display: flex;
  flex-direction: column;
  border-top: solid 1px #000000;
}
.footer .redes {
  width: 20vw;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 1400px) {
  .footer .redes {
    width: 40vw;
  }
}
.footer .redes a {
  width: 2.5em;
  height: 2.5em;
  background-color: #000000;
  border-radius: 50%;
}
.footer .redes a:hover {
  padding-bottom: 0px;
  border-bottom: 0px;
}
.footer .redes a i {
  font-size: 1.5em;
  color: #5ee7df;
  --fa-animation-duration: 0s;
}
.footer .redes a i:hover {
  --fa-animation-duration: 2s;
  transition: 0.4s;
}

.no_border_top {
  border-top: none;
}

/* Ayuda memoria: Tamaños de Media Queries*/
/*
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
*//*# sourceMappingURL=estilos.css.map */