.header {
    height: 20vh;
    background-color: transparent !important;

    @include mq (1400px) {
        height: 13vh;
    }

    .header__container {
        margin: 0 auto;
        width: 95vw !important;
        overflow: hidden;
    }

    .nav {
        --state-hamburger: scale(0);
        --state-close: scale(0);
        --state-menu: translate(0);

        padding: 40rem 0;
        display: grid;
        justify-content: space-between;
        align-items: center;
        grid-template-columns: repeat(2, max-content);

        @include mq (992px) {
            --state-hamburger: scale (1);
            --state-close: scale(0);
            --state-menu: translate(-200%);
        }

        &:target {
            --state-hamburger: scale(0);
            --state-close: scale(1);
            --state-menu: translate(0);
        }

        .nav__logo {
            display: flex;
            align-items: center;
            color: #000000;
            z-index: 5;

            &:hover {
                text-decoration: none;
                border: none;
                color: #000000;
            }

            img {
                max-width: 9rem;
                margin-right: 1rem;
                &:hover {
                    animation: rotate-scale-down-diag-1 1s linear both;
                    @keyframes rotate-scale-down-diag-1 {
                        0% {
                            transform: scale(1) rotate3d(1, 1, 0, 0deg);
                        }
                        50% {
                            transform: scale(0.5) rotate3d(1, 1, 0, -180deg);
                        }
                        100% {
                            transform: scale(1) rotate3d(1, 1, 0, -360deg);
                        }
                    }  
                }
                @include mq (1400px) {
                    max-width: 6rem;
                }
            }
        }

        .nav__hamburger,
        .nav__close {
            cursor: pointer;
            grid-column: -1;
            grid-row: 1/2;
            z-index: 5;
            transition: .4s transform;

            &:hover {
                border: none;
            }

            .nav__icon {
                font-size: 2em;
            }
        }

        .nav__hamburger {
            transform: var(--state-hamburger);
        }

        .nav__close {
            transform: var(--state-close);
            &:hover {
                color: #ffffff;
            }
        }

        .nav__links {
            background-color: transparent;
            position: unset;
            gap: 1.5em;
            padding-left: 2rem;
            z-index: 4;
            display: flex;
            grid-column: -1;
            grid-row: 1/2;
            transform: unset;

            @include mq (992px) {
                background-color: rgba(141, 224, 166, 0.9);
                padding-left: 1rem;
                position: absolute;
                display: grid;
                align-content: center;
                gap: 3em;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin-bottom: 0;
                transform: var(--state-menu);
                transition: .3s transform;
            }

            .nav__link {
                @include mq (992px) {
                    &:hover {
                        color: #ffffff;
                        padding-bottom: 5px;
                        border-bottom: solid 5px #ffffff;
                        transition: border-bottom 0.3s,
                    }
                }
            }
        }
    }
}