.main, .galeria {
    min-height: 70vh;
    flex: 0.9;
    padding: 10px 40px;
    @include mq (992px) {
        height: 100%;
    }
    .galeria__filtro {
        h5 {
            display: inline-block;
        }
        .galeria__filtro__nivel {
            display: inline-block;
            ul {
                padding: 0;
                @include mq (768px) {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                }
                li {
                    display: inline-block;
                    border: solid 1px #ffffff;
                    padding: 5px 10px;
                    margin: 0 10px;
                    &:hover {
                        border: solid 1px #000000;
                    }
                    @include mq (1400px) {
                        margin: 0 10px 0 0;
                    }
                    @include mq (768px) {
                        margin: 0;
                        padding: 3px 5px;
                    }
                    a {
                        &:hover {
                            border: none;
                        }
                        @include mq (768px) {
                            font-size: 0.9rem;
                        }
                    }
                }
            }
        }
    }
    .galeria__contenedor {
        display: flex;
        width: 100%;
        margin: auto;
        flex-wrap: wrap;
    }
    .galeria__boton {
        text-align: center;
        margin-bottom: 2rem;
    }
}