.main_cursos {
    @extend %main_secciones;
    height: 100%;
    @include mq (1200px) {
        padding: 3rem;
        border-top: solid 1px #000000;
    }
    .tabs_cursos {
        .nav-tabs {
            .nav-link {
                color: #000000;
                &:hover {
                    border: solid 1px #000000;
                }
                &.fondo_verde:hover {
                    @extend %fondo_verde;
                }
                &.fondo_amarillo:hover {
                    @extend %fondo_amarillo;
                }
                &.fondo_fucsia:hover {
                    @extend %fondo_fucsia;
                }
            }
        }
    }
    .cursos {
        .galeria__contenedor {
            .ficha {
                width: 24%;
                display: inline-block;
                position: relative;
                vertical-align: top;
                padding: 0 20px 20px 0;
                overflow: hidden;
                @include mq (1400px) {
                    width: 33%;
                    padding: 0 10px 20px 0;
                }
                @include mq (1200px) {
                    width: 49%;
                }
                @include mq (768px) {
                    width: 100%;
                }
                .curso, .taller {
                    display: inline;
                    position: absolute;
                    top: 2%;
                    left: 2%;
                    transform: translate(-2%, -2%);
                    font-size: 12px;
                    font-weight: 800;
                    z-index: 1;
                }
                img {
                    width: 60%;
                    height: auto;
                }
                .img_curso  {
                    &:hover {
                        /* animación */
                        animation: shadow-pop-pink 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
                        @keyframes shadow-pop-pink {
                            0% {
                              box-shadow: 0 0 $light_pink, 0 0 $light_pink, 0 0 $light_pink, 0 0 $light_pink, 0 0 $light_pink, 0 0 $light_pink, 0 0 $light_pink, 0 0 $light_pink;
                              transform: translateX(0) translateY(0);
                            }
                            100% {
                              box-shadow: -1px -1px $light_pink, -2px -2px $light_pink, -3px -3px $light_pink, -4px -4px $light_pink, -5px -5px $light_pink, -6px -6px $light_pink, -7px -7px $light_pink, -8px -8px $light_pink;
                              transform: translateX(8px) translateY(8px);
                            }
                        }
                    }
                }
                .img_taller {
                    &:hover {
                        /* animación */
                        animation: shadow-pop-green 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
                        @keyframes shadow-pop-green {
                            0% {
                              box-shadow: 0 0 $light_green, 0 0 $light_green, 0 0 $light_green, 0 0 $light_green, 0 0 $light_green, 0 0 $light_green, 0 0 $light_green, 0 0 $light_green;
                              transform: translateX(0) translateY(0);
                            }
                            100% {
                              box-shadow: -1px -1px $light_green, -2px -2px $light_green, -3px -3px $light_green, -4px -4px $light_green, -5px -5px $light_green, -6px -6px $light_green, -7px -7px $light_green, -8px -8px $light_green;
                              transform: translateX(8px) translateY(8px);
                            }
                        }
                    }
                }
                h5 {
                    margin: 10px 0;
                }
                a {
                    text-decoration: underline;
                    margin: 0;
                    &:hover {
                        @extend %fondo_verde;
                        color: #000000;
                        padding: 0;
                    }
                }
                p {
                    margin: 0;
                }
                .temas {
                    margin-top: 1rem;
                    margin-bottom: 2rem;
                }
            }
        }
    }
}