.main_niveles {
    height: 70vh;
    margin: auto;
    padding: 0 10rem;
    @include mq (1400px) {
        height: 77vh;
    }
    @include mq (1200px) {
        padding: 3rem;
        border-top: solid 1px #000000;
    }
    .tabs_niveles {
        .nav-tabs {
            @include mq (576px) {
                display: flex;
            }
            .nav-link {
                color: #000000;
                &:hover {
                    border: solid 1px #000000;
                }
                &.fondo_celeste:hover { background-color: $light_blue; }
                &.fondo_verde:hover { background-color: $light_green; }
                &.fondo_amarillo:hover { background-color: $light_yellow; }
                &.fondo_lila:hover { background-color: $light_violet; }
                &.fondo_fucsia:hover { background-color: $light_pink; }
                @include mq (768px) {
                    padding: 0.6rem;
                }
                @include mq (576px) {
                    font-size: 0.85rem;
                    padding: 0.4rem;
                    justify-content: space-between;
                }
            }
        }
    }
    .niveles {
        .galeria__contenedor {
            display: flex;
            width: 100%;
            margin: auto;
            flex-wrap: wrap;
        }
    }
}

