.main_categorias {
    @extend %main_secciones;
    @include mq (1400px) {
        height: 77vh;
    }
    @include mq (1200px) {
        padding: 3rem;
        border-top: solid 1px #000000;
    }
    @include mq (768px) {
        padding: 3rem 0;
    }
    h2, h3 {
        @include mq (768px) {
            padding: 0 3rem;
        }
    }
    .contenedor_carousel {
        display: flex;
        justify-content: center;
        #carouselExampleDark {
            width: 100%;
            background-color: #ffffff;
            .carousel-indicators {
                .active {
                    @extend %fondo_fucsia;
                }
            }
            .carousel-inner {
                .carousel-item {
                    img {
                        margin: auto;
                        @include mq (768px) {
                            width: 75%;
                        }
                    }
                }
            }
            .carousel-control-prev {
                background: transparent;
                .carousel-control-prev-icon {
                    transition: transform 0.5s;
                    &:hover {
                        transform: scale(2);
                    }
                }
            }
            .carousel-control-next {
                @extend .carousel-control-prev;
                .carousel-control-next-icon {
                    @extend .carousel-control-prev-icon;
                }
            }
        }
    }
}