.main_niveles {
    @extend %main_secciones;
    @include mq (1400px) {
        height: 77vh;
    }
    @include mq (1200px) {
        padding: 3rem;
        border-top: solid 1px #000000;
    }
    .tabs_niveles {
        .nav-tabs {
            @include mq (576px) {
                display: flex;
            }
            .nav-link {
                color: #000000;
                &:hover {
                    border: solid 1px #000000;
                }
                &.fondo_celeste:hover { @extend %fondo_celeste; }
                &.fondo_verde:hover { @extend %fondo_verde; }
                &.fondo_amarillo:hover { @extend %fondo_amarillo; }
                &.fondo_lila:hover { @extend %fondo_lila; }
                &.fondo_fucsia:hover { @extend %fondo_fucsia; }
                @include mq (768px) {
                    padding: 0.6rem;
                }
                @include mq (576px) {
                    font-size: 0.85rem;
                    padding: 0.4rem;
                    justify-content: space-between;
                }
            }
        }
    }
    .niveles {
        .galeria__contenedor {
            display: flex;
            width: 100%;
            margin: auto;
            flex-wrap: wrap;
        }
    }
}

