a {
    text-decoration: none;
    &:link {
        color: #000000;
    }
    &:visited {
        color: #000000;
    }
    &:hover {
        color: $light_green;
        padding-bottom: 5px;
        border-bottom: solid 5px $light_green;
        transition: border-bottom 0.3s,
    }
    &:active {
        color: #000000;
        padding-bottom: 5px;
        border-bottom: solid 5px #000000;
    }
}